@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Basic text */
/* .bellota-text-light {
    font-family: "Bellota Text", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .bellota-text-regular {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bellota-text-bold {
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .bellota-text-light-italic {
    font-family: "Bellota Text", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .bellota-text-regular-italic {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .bellota-text-bold-italic {
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;
    font-style: italic;
  } */
  

  /* Titles */
  /* .shantell-sans-<uniquifier> {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0;
  } */



/* off-white : #efefef */
/* light blue : #dde3ff */
/* blue : #0a2086; */
/* font-dark-blue : #040922 */
/* light yellow : #ffe98d */
/* yellow : # ffde59 */
/* purple : #1c0747 */

:root {
    --white-blue : #f1f4ff;
    --light-blue : #dde3ff;
    --off-white : #FDFDFD;
    --blue: #0a2086;
    --font-dark-blue: #040922;
    --light-yellow : #ffe98d;
    --yellow : #ffde59;
    --purple : #1c0747;
    --red : rgb(154, 0, 0);
    --orange : #FF6E30;
    --light-orange : #f8966b;
}

*{
    transition: 0.5s ease;

}


body {
    padding: 0;
    margin: 0;
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--font-dark-blue);
    background-size: cover;

}

.logo {
    width: 50px;
    margin: 1% 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.833);
}

nav ul li button {
    background: none;
    border: none;
    outline: none;
    /* font-family: "Bellota Text", sans-serif; */
    font-size: 20px;
    
}

nav div {
    font-family: "Shantell Sans", cursive;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    width: 60%;
    font-size: 20px;
}

nav ul li {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    
    font-weight: 600;
}


a {
    color: var(--font-dark-blue);
    text-decoration: none;
}

nav ul li a:hover {
    font-weight:lighter;
    color: var(--purple)
}

nav ul li a:active {
    color: var(--blue);
}

nav ul li:first-child a {
    color: var(--orange); 
}

.left-group {
    display: flex;
    width: 40%;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}


/* errors */
.user-message {
    visibility: hidden;
    margin: 1% 2%;
    color: rgb(154, 0, 0);
    font-weight: bold;
    font-size: 0.8em;
}

.buttons{
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 1% 2%;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 1.2rem;
    box-shadow: 3px 3px 16px 2px rgba(0,0,0,0.13);

}


.inputs {
    width: 40%;
    box-shadow: inset 0px 0px 16px 2px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 1% 3%;
    font-size: 1.1rem;
}

.link{
    font-weight: bolder;
}

.link:hover {
    font-weight: lighter;
    color: var(--purple)
}
.link:active {
    color: var(--blue);
}


.buttons:hover {
    color: var(--font-dark-blue);    
    background-color: var(--yellow);

}

.buttons:active {
    box-shadow: inset 0px 0px 16px 2px rgba(0,0,0,0.1);
    background-color: var(--light-orange);
}

.title-font{
    font-family: "Shantell Sans", cursive;
}

footer{
    width: 100%;
    background-color: #27272E;
    padding: 2% 0;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

footer section ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer section ul li a {
    color: lightblue;
}
/* nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    width: 100%;
}

nav  div {
    width: 30%;
    display: flex;
    align-items: center;
}

nav div:nth-of-type(2) {
    justify-content: flex-end;
    width: 70%;
}



nav div ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;

    width: 100%;

    align-items: center;

    padding: 0;
    
}

nav div ul li {
    display: flex;
    justify-content: center;
}



#no-user{
}

#user{
    display: none;
}

#logout {
    display: none;
}

@media (max-width: 1024px) {

    nav div {
        width: 100%;
        justify-content:center;
    }

    nav div:nth-of-type(2) {
        justify-content: flex-end;
        width: 100%;
    }
}

@media (max-width: 768px) {

    nav div ul {
        flex-direction: column;
        flex-wrap: wrap;

    }

    nav div ul li {
        margin-top: 2%;
    }
    
} */